name: "Build"
on: [push, pull_request]
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14
      - run: yarn install
      - run: yarn lint
      - run: yarn build
      - run: yarn validate-changelogs
